################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GeekHunters/v15/Server/sqlite3
/.vs/GeekHunters/v15
/GeekHunters/bin/Debug/netcoreapp2.2
/GeekHunters/obj
